<%= render partial: "layouts/navigation" %><br>

<h2 class="header">Edit User</h2>

<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label "First Name" %>
    <%= f.text_field :first_name, class: "form-control" %><br>
  </div>
  <div class="form-group">
    <%= f.label "Last Name" %>
    <%= f.text_field :last_name, class: "form-control" %><br>
  </div>
  <div class="form-group">
    <%= f.label "City" %>
    <%= f.text_field :city, class: "form-control" %><br>
  </div>
  <div class="form-group">
    <%= f.label "State" %>
    <%= f.text_field :state, class: "form-control" %><br>
  </div>
  <div class="form-group">
    <%= f.label "Country" %>
    <%= f.text_field :country, class: "form-control" %><br>
  </div>
  <div class="form-group">
    <%= f.label "Picture URL" %>
    <%= f.text_field :picture_url, class: "form-control" %><br>
  </div>
  <%= f.submit "Edit", class: "btn btn-primary btn-lg" %>
  <%= f.submit "Cancel", class: "btn btn-default btn-lg" %>
<% end %>
<br/>
