<%= render :partial => "layouts/navigation" %>

<h1 class="header">Profile</h1>

<div id="media">
  <div class="media-left">
      <%= image_tag @user.picture_url, class: "media-object img-rounded" %>
  </div>
  <div class="media-body">
    <h2 class="media-heading"><%= "#{@user.first_name} #{@user.last_name}" %></h2>
    <h1><small><%= "#{@user.city}, #{@user.state}" %></small></h1>
    <h1><small><%= "#{@user.country}" %></small></h1>
  </div>
</div>
<div id="profile-bottom">
  <div>
    <h3><%= link_to "See All My Wines", user_wines_path(@user) %></h3><br>
  </div>
  <div>
    <% if !@wines.empty? %>
      <% @wines.each do |wine| %>
        <%= "#{wine.name} #{wine.year}" %><br>
     <% end %>
    <% else %>
      <h3>No wines are present.</h3>
    <% end %>
  </div>
  <div>
    <h3><%= link_to "See All My Friends", "#" %></h3><br>
  </div>
</div>
