<%= render "navigation" %>
<%= image_tag @user.picture_url, size: "200x200" %>
<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
<h2><%= "#{@user.city}, #{@user.state}" %></h2>
<h2><%= "#{@user.country}" %></h2>
<%= link_to "See All My Wines...", "#" %><br>
<%= link_to "See All My Friends...", "#" %><br>
