<%= render :partial => "layouts/navigation" %>

<h1 class="header">Profile</h1>

<div id="media">
  <div class="media-left">
    <%= image_tag @user.avatar.url(:medium) %>
  </div>
  <div class="media-body">
    <h2 class="media-heading"><%= "#{@user.first_name.capitalize} #{@user.last_name.capitalize}" %></h2>
    <h1><small><%= "#{@user.city.capitalize} #{@user.state.capitalize}" %></small></h1>
    <h1><small><%= "#{@user.country.upcase}" %></small></h1>
  </div>
</div>
<div>
  <h3><%= link_to "My Wines", user_wines_path(@user) %></h3>
</div>
<div>
  <% if !@wines.empty? %>
    <h4>Wines List</h4>
    <table class="table table-condensed table-hover">
      <tr>
        <th>Name</th>
        <th>Year</th>
      </tr>
      <% @wines.each do |wine| %>
        <tr>
          <td><%= wine.name %></td>
          <td><%= wine.year %></td>
        </tr>
     <% end %>
   </table>
  <% else %>
    <h3>No wines are present.</h3>
  <% end %>
</div>
