<table class="table table-hover">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Year</th>
    <th>Description</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% num = 1 %>
  <% @wines.each do |wine| %>
    <tr>
      <td><%= "#{num}" %></td>
      <td><%= link_to "#{wine.name}", user_wine_path(@user, wine) %></td>
      <td><%= "#{wine.year}" %></td>
      <td><%= "#{wine.description}" %></td>
      <td><%= button_to "Edit", edit_user_wine_path(@user, wine), type: "button", class: "btn btn-primary", method: "get" %></td>
      <td><%= button_to "Delete", user_wine_path(@user, wine), type: "button", class: "btn btn-danger", method: "delete" %></td>
    </tr>
    <% num += 1 %>
  <% end %>
</table>

