<%= render :partial => "layouts/navigation" %>

<h2 class="header">Add a Wine</h2>

<%= form_for [@user, @wine] do |f| %>
  <div class="form-group">
    <%= f.label "Name" %><br>
    <%= f.text_field :name, class: "form-control" %><br>
  </div>
  <div class="form-group">
    <%= f.label "Year" %><br>
    <%= f.text_field :year, class: "form-control" %><br>
  </div>
  <div class="form-group">
    <%= f.label "Description" %><br>
    <%= f.text_field :description, class: "form-control" %><br>
  </div>
  <div class="form-group">
    <%= f.label "Wine Picture URL" %><br>
    <%= f.text_field :wine_url, class: "form-control" %><br>
  </div>

  <%= f.submit "Save", class: "btn btn-primary btn-lg" %>
  <%= f.submit "Cancel", class: "btn btn-default btn-lg", method: "delete", html: {url: user_wines_path(@user)} %>
<% end %>


