<div class="media wine-media">
  <div class="media-left">
    <%= image_tag @wine.avatar.url(:medium) %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= "#{@wine.name.capitalize}" %></h4>
    <h5>Year: <%= "#{@wine.year}" %></h5>
    <h5>Description: <%= "#{@wine.description}" %></h5>
  </div>
</div>

<%= button_to "Edit", edit_user_wine_path(@user, @wine), type: "button", class: "btn btn-primary inline-btn", method: "get" %>
<%= button_to "All Wines", user_wines_path(@user), type: "button", class: "btn btn-default inline-btn", method: "get" %>

